.page-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  background: #fff;
  align-items: center;
  .page-actions__action-buttons {
    white-space: nowrap;
    .adm-button{
      padding: 12px;
    }
  }
  .page-actions__description {
    font-size: 12px;
    padding-left: 12px;
    color: #86909C;
  }
}
