*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --g-bg-color: #f7f9fb;
}

body {
  margin: 0;
  background: var(--g-bg-color);
  --adm-font-size-main: var(--adm-font-size-7);
}

a {
  font-size: var(--adm-font-size-main);
  text-decoration: none;
}
